#frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin: auto auto;
  animation: spin 3s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.innerCircle {
  position: absolute;
  background: rgb(233, 226, 16);
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  z-index: 1;
}
.circle {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
}

#frame .bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1vw;
  height: 14vw;
  z-index: 10;
}

#frame .bar:before {
  content: '';
  position: absolute;
  background: white;
  width: 0.5vw;
  height: 2.5vw;
}

.bar:nth-child(1) {
  transform: rotate(40deg);
}
.bar:nth-child(2) {
  transform: rotate(80deg);
}
.bar:nth-child(3) {
  transform: rotate(120deg);
}
.bar:nth-child(4) {
  transform: rotate(160deg);
}
.bar:nth-child(5) {
  transform: rotate(200deg);
}
.bar:nth-child(6) {
  transform: rotate(240deg);
}
.bar:nth-child(7) {
  transform: rotate(280deg);
}
.bar:nth-child(8) {
  transform: rotate(320deg);
}
.bar:nth-child(9) {
  transform: rotate(360deg);
}
